<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - English</title>

    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <div class="curriculum-vitae">
        <div class="left-panel">
            <div class="profile-photo-panel">

            </div>
            <div class="highlights-panel">
                <div class="skills-panel">

                </div>
                <div class="langs-panel">

                </div>
                <div class="contact-panel">

                </div>
            </div>
        </div>
        <div class="right-panel">
            Right panel
        </div>
    </div>
    
    
</body>
</html>