*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.left-panel, .right-panel, .highlights-panel{
    display: flex;
    flex-direction: column;
}

.curriculum-vitae{
    // Letter (paper size)
    width: 21.59cm;
    height: 27.94cm;
    border: 5px solid black;

    display: grid;
    grid-template-columns: 30% 70%;

    .left-panel{
        .profile-photo-panel{
            height: 25%;
            border: 1px solid blue;
        }

        .highlights-panel{
            border: 2px solid green;
            height: 75%;
        }

        .highlights-panel > div{
            border: 1px solid red;
            height: 10%;
        }

        .highlights-panel > div:last-child{
            border: 1px solid black;
            margin-top: auto;
        }
    }   

    .right-panel{
        border: 1px solid red;
    }
}